.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  align-items: center;
  flex-basis: 45%;
  justify-content: space-between;
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.li {
  color: #9e9aa7;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.li:hover{
    color: #2acfcf;
}

.btnContainer {
  display: flex;
  column-gap: 0.5rem;
}

.login {
  background-color: transparent;
  color: #9e9aa7;
}
.login:hover {
  color: #fff;
  background-color: #2acfcf;
}

.login,
.signUp {
  border: none;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.signUp {
  color: #fff;
  background-color: #2acfcf;
}

.signUp:hover {
  color: #2acfcf;
  background-color: #fff;
}
